<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Listado de Empleados</span>
            <button class="btn btn-dark btn-lg text-align-right">Agregar</button>
            <table class="table table-striped mt-5">
                <thead>
                  <tr>
                    <th >nombre</th>
                    <th >apellido</th>
                    <th >documento</th>
                    <th >salario</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>tomas</td>
                    <td>francolino</td>
                    <td>23423423</td>
                    <td>12331</td>
                    <td>
                        <i class="bi bi-pencil-square"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>tomas</td>
                    <td>francolino</td>
                    <td>23423423</td>
                    <td>12331</td>
                    <td>
                        <i class="bi bi-pencil-square"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
 