<div class="container mt-4">
    <div class="card text-bg-secondary">
        <div class="card-body ">
            <span class="h3">Listado de Empleados</span>
            <button class="btn btn-dark btn-lg text-align-right"routerLink="/create-empleado">Agregar</button>
            <table class="table table-dark table-striped table-hover mt-5">
                <thead>
                  <tr>
                    <th >nombre</th>
                    <th >apellido</th>
                    <th >documento</th>
                    <th >salario</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>tomas</td>
                    <td>francolino</td>
                    <td>23423423</td>
                    <td>12331</td>
                    <td>
                      <i id="edit"class="fas fa-edit fa-lg text-info"></i>
                      <i id="delete" class="fas fa-solid fa-trash-alt fas-lg text-danger"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>tomas</td>
                    <td>francolino</td>
                    <td>23423423</td>
                    <td>12331</td>
                    <td>
                      <i id="edit"class="fas fa-edit fa-lg text-info"></i>
                      <i id="delete" class="fas fa-solid fa-trash-alt fas-lg text-danger"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>tomas</td>
                    <td>francolino</td>
                    <td>23423423</td>
                    <td>{{12331|currency}}</td>
                    <td>
                      <i id="edit"class="fas fa-edit fa-lg text-info"></i>
                      <i id="delete" class="fas fa-solid fa-trash-alt fas-lg text-danger"></i>
                    </td>
                  </tr>
                  <tr>
                    <td>tomas</td>
                    <td>francolino</td>
                    <td>23423423</td>
                    <td>12331</td>
                    <td>
                      <i id="edit"class="fas fa-edit fa-lg text-info"></i>
                      <i id="delete" class="fas fa-solid fa-trash-alt fas-lg text-danger"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
              
        </div>
    </div>
</div>
 