<div class="conteiner pt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card text-bg-secondary">
                <button id="volver" type="text" class="btn btn-dark btn-lg"routerLink="/list-empleados">volver</button>
                <div class="card-body text-center">
                    <div class="card-body">
                        <h3 class="mb-4">Agregar empleado</h3>                      
                        <form >                          
                            <div class="row">
                                <div class="col">
                                    <input type="text"class="form-control form-control-lg "placeholder="nombre">
                                </div>
                                <div class="col">
                                    <input type="text"class="form-control form-control-lg"placeholder="apellido">
                                </div>
                            </div>
                            <input type="text" class="form-control form-control-lg mt-3"placeholder="documento">
                            <input type="text" class="form-control form-control-lg mt-3"placeholder="salario">
                            <div class="mt-3">
                                <button id="agregar" type="submit" class="btn btn-dark btn-lg ">Agregar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
